[user]
	name = Paavan Bhavsar
	email = pbhavsar@kyruus.com

# Nice and short aliases to common git commands.
# git st will show you "short status", which is great for quickly getting an idea
# for what's staged and unstaged. The syntax for short status is 
# _ _ <file>, where the underscores are replaced by one-letter statuses
# The left underscore represents staged, and the right represents unstaged.
[alias]
    st = status -s
    co = checkout
    br = branch
    pup = !git push --set-upstream origin `git symbolic-ref --short HEAD`
    sup = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = normal

[pull]
    rebase = false

[core]
editor = nvim

[fetch]
    prune = true
